<header>
		<nav class="navbar topnavbar" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#"><img src="{{ base_path ~ directory }}/assets/img/logo.png" class="img-responsive logo"></a>
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".firstnav">
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			        </button>
				</div>
				<div class="navbar-collapse collapse firstnav">
					<ul class="nav navbar-nav navbar-right">
						<li>Questions? <br> Call 1-833-256-2748</li>
						<li>
							<a href="#" class="selectbox">
								<select>
									<option>United States</option>
									<option>Brazil</option>
								</select>
							</a>
						</li>
						<li><a href="#">Important Safety Information</a></li>
						<li><a href="#" class="sideborder">Full Prescribing Information</a></li>
						<li><a href="#">Visit Patient Site</a></li>
						<li><a href="#" class="greenbox">Sign Up for Updates</a></li>
					</ul>
				</div>
			</div>
		</nav>

	</header>
  {{ page }}
	<section class="homepagehero">
		<nav class="navbar bottomnavbar" role="navigation">
			<div class="container">
				<div class="navbar-header">
			        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".secnav">
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			        </button>
			    </div>
			    <div class="navbar-collapse collapse secnav">
			        <ul class="nav navbar-nav navbar-center">
			            <li><a href="">About hAATR<br> Amyloidosis</a></li>
	                    <li><a href="">How ONPATTRO<br> Works</a></li>
	                    <li class="active"><a href="">Clinical<br> Data</a></li>
	                    <li><a href="">Safety &amp;<br> Tolerability</a></li>
	                    <li><a href="">Dosing &amp;<br> Administration</a></li>
	                    <li><a href="" class="navleftborder">Support  &amp;<br> Resources</a></li>
	                    <li><a href="">Getting<br> Started</a></li>
			        </ul>
			    </div>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<div class="col-md-6">

				</div>
				<div class="col-md-6">
					<div class="homeherotext">
						<p>In hATTR amyloidosis…</p>
						<h3>Patients and their families face <br><span class="afuture">a future of declining function<sup>1-4</sup></span></h3>
					</div>
				</div>
			</div>
		</div>

	</section>

	<section class="greysection">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-1">
							<span class="icon-greenleaf"></span>
						</div>
						<div class="col-md-11">
							<h2>Get started <br>with ONPATTRO</h2>
							<button class="btn">Find out how  <span class="arrow">>></span></button>
						</div>
					</div>
				</div>

				<div class="col-md-6 leftborder">
					<div class="row">
						<div class="col-md-1">
							<span class="icon-greenleaf"></span>
						</div>
						<div class="col-md-11">
							<h2>Sign up to <br>stay informed</h2>
							<button class="btn">Find out how  <span class="arrow">>></span></button>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>

	<section class="safetysection">
        <div class="container">
            <div class="row mb-40">
                <div class="col-md-12">
                    <strong class="safetyh">Important Safety Information</strong>
                    <p class="safetym">ONPATTRO is contraindicated in patients with a history of severe hypersensitivity (e.g. anaphylactic reactions) to patisiran or any of the excipients.</p>

                    <strong class="safetyb">Infusion-Related Reactions</strong>
                    <p class="safetym">nfusion-related reactions (IRRs) have been observed in patients treated with ONPATTRO. In a placebo-controlled study, there was a higher incidence of IRRs in ONPATTRO-treated patients (18.9%) compared to placebo-treated patients (9.1%). The most common IRR symptoms were flushing, back pain, nausea, abdominal pain, dyspnea, and headache. </p>

                    <p class="safetym">To reduce the risk of IRRs, patients should receive premedications at least 60 minutes prior to infusion. If an IRR occurs, consider slowing or interrupting the infusion and instituting medical management as clinically indicated. Discontinue ONPATTRO infusion if a serious or life-threatening IRR occurs. </p>

                    <strong class="safetyb">Reduced Serum Vitamin A Levels and Recommended Supplementation</strong>
                    <p class="safetym">By reducing serum TTR protein, ONPATTRO treatment leads to a decrease in vitamin A levels measured in the serum. Supplementation at the recommended daily allowance of vitamin A is advised for patients taking ONPATTRO. Higher doses of vitamin A should not be given to try to achieve normal serum vitamin A levels during treatment with ONPATTRO.</p>

                    <strong class="safetyb">Adverse Reactions</strong>
                    <p class="safetym">The most frequently reported adverse reactions that occurred in ONPATTRO-treated patients (≥10% of patients and occurring ≥3 percentage points more frequently than in placebo-treated patients) were peripheral edema (30%) and infusion-related reactions (19%).</p>

                    <strong class="safetyb">Contraception</strong>
                    <p class="safetym">It is recommended that women of childbearing potential use effective contraception during treatment with ONPATTRO and for 12 weeks after stopping treatment.</p>

                    <strong class="safetycm">Indication</strong>
                    <p class="safetym">ONPATTRO is indicated for the treatment of adults with hereditary transthyretin-mediated amyloidosis (hATTR amyloidosis).</p>

                    <p class="safetyadditional">For additional information, please see <a href="#" class="link-text"><b>Full Prescribing Information.</b></a></p>

                </div>
            </div>

            <div class="references">
                <p class="referencesb"><b>References:</b></p>
                <ol class="pl-15 referencesr">
                    <li>Ando Y, Coelho T, Berk JL, et al. Guidelines of transthyretin-related hereditary amyloidosis for clinicians. Orphanet J Rare Dis. 2013;8:31. </li>
                    <li>Dharmarajan K, Maurer MS. Transthyretin cardiac amyloidosis in older North Americans. J Am Geriatr Soc. 2012;60(4):765-774.</li>
                    <li>Coutinho P, Martins da Silva A, Lopes Lima JL, et al. Forty years of experience with Type 1 amyloid neuropathy. Review of 483 cases. In: Glenner G, Pinho e Costa P, Falcão de Freitas A, eds. Amyloid and amyloidosis: Proceedings of the Third International Symposium on Amyloidosis, Póvoa de Varzim, Portugal, 23-28 September 1979. Amsterdam: Excerpta Medica; 1980:88-98.</li>
                    <li>Vinik EJ, Vinik AI, Paulson JF, et al. Norfolk QOL-DN: validation of a patient reported outcome measure in transthyretin familial amyloid polyneuropathy. J Peripher Nerv Syst. 2014;19:104-119.</li>
                    <li>ONPATTRO [package insert]. Cambridge, MA: Alnylam Pharmaceuticals, Inc; 2018.</li>
                    <li>Adams D, Suhr OB, Dyck PJ, et al. Trial design and rationale for APOLLO, a phase 3, placebo-controlled study of patisiran in patients with hereditary ATTR amyloidosis with polyneuropathy. BMC Neurol. 2017;17(1):181.</li>
                </ol>

            </div>
        </div>
    </section>


	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-md-12">
					<span class="icon-Alnylam-logo"></span>
				</div>
				<div class="col-md-7 col-sm-12">
					<p>ONPATTRO, Alnylam Act, and Alnylam Assist are trademarks of Alnylam Pharmaceuticals, Inc.</p>
					<p>© 2018 Alnylam Pharmaceuticals, Inc. All rights reserved. The information on this site is intended for U.S. healthcare professionals.</p>
				</div>
				<div class="col-md-3 col-sm-12">
					<ul>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Legal Notice</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Site Map</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
